/* ====== COLORS ====== */

:root {
	--deep-red: #9e2d21;
  --bright-red: #c52126;
  --bright-red-op: rgba(197, 33, 39, 0.80);
  --vermillion: #ff0008;
  --light-blue: #92e3f6;
  --white: #FFFFFF;
}

/* === BACKGROUNDS === */

.bg-light-blue {
  background-color: var(--light-blue);
}

.bg-white {
  background-color: var(--white);
}

.bg-bright-red {
  background-color: var(--bright-red);
}

.bg-vermillion {
  background-color: var(--vermillion);
}

.bg-center {
  background-position: center;
}

/* === COLORS === */

.bright-red {
  color: var(--bright-red)
}

.white {
  color: var(--white);
}

.vermillion {
  color: var(--vermillion)
}
/* === BORDERS === */

.border-radius {
  border-radius: 30px;
}

.red-border {
  border: 1px solid var(--bright-red)
}

.red-border-bottom {
  border-bottom: 1px solid var(--bright-red)
}

.white-border {
  border: 1px solid var(--white)
}

.border-right {
  border-right: 2px solid var(--vermillion);
}

/* ====== FONTS ====== */

p {
	font-family: 'futura', sans-serif;
	font-size: 1rem;
	color: var(--bright-red);
	font-style: normal;
	line-height: 1.3;
}

ul {
  list-style-type: none;
  padding-left: 0vw !important;
  font-family: 'futura', sans-serif;
	font-size: 1rem;
}

h1 {
	font-family: 'nasalization', sans-serif;
  font-size: 4em;
}

h2 {
	font-family: 'futura-pt', sans-serif;
	font-style: normal;
	font-weight: 600;
	padding: 0;
	margin: 0;
	color: rgb(197, 33, 38);
	font-size: 1.7rem;
	line-height: 1.3;
}

h3 {
	font-family: 'nasalization', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  margin: 0 !important;
  padding: 0 !important;
}

a:link {
  text-decoration: none !important;
}

.sub-title {
  font-size: 2em;
}

.portfolio-title {
  font-size: 1.5em;
}

.opacity-80 {
  opacity: 80%;
}

.uppercase {
  text-transform: uppercase;
  font-weight: 600 !important;
}

/* === ALIGNMENT === */

.txt-al-right {
  text-align: right;
}

.txt-al-left {
  text-align: left;
}

/* ====== SPACING ====== */

body {
  margin: 0px;
  padding: 0px;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.z-index {
  z-index: 999 !important;
}

/* === FLEX === */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.just-center {
  justify-content: center;
}

.ac-center {
  align-content: center;
}
.al-center {
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.space-btwn {
  justify-content: space-between;
}

/* === HORIZONTAL === */

.half {
  width: 50vW;
}

/* === VERTICAL === */

.full-height {
  height: 100vH;
}

.h-one-hundred {
  height: 100%;
}

.w-one-hundred {
  width: 100%;
}

.full-width {
  width: 100vW;
}

.seventy-five {
  width: 70vW;
}

.seventy-percent {
  width: 75%;
}

.sixty {
  width: 65vW;
}

.fifty-percent {
  width: 50%;
}

.thirty-percent {
  width: 30%;
}

.twenty-five-percent {
  width: 25%;
}

.twenty {
  width: 15vW;
}

.height-150px {
  height: 150px;
}

.text-width {
  width: 50vW;
}

/* ====== PADDING ====== */

.side-padding {
  padding: 0vH 2vW;
}

.stnd-padding {
  padding: 10vH 0vW;
}

.text-padding {
  padding: 2vH 1vW;
}

.footer-padding {
  padding: 5vH 0vW;
}

.no-space {
  margin: 0;
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-top-space {
  margin-top: 0;
  padding-top: 0;
}

.tech-padding {
  padding: 0vH 2vW;
  margin: 1vH 0vW;
}

.tech-padding-first {
  padding: 0vH 2vW 0vH 0vW;
  margin: 1vH 0vW;
}

.tech-padding-first-reverse {
  padding: 0vH 0vW 0vH 2vW;
  margin: 1vH 0vW;
}

.icon-padding {
  padding: 1vH 1vW;
}

.icon-padding-first {
  padding: 1vH 1vW 1vH 0vW;
}

.top-padding {
  margin-top: 40vH;
}

.tab-padding {
  padding: 2vH 0vW;
}

/* ====== ANIMATIONS ====== */

.transition-duration {
  transition-property: width;
  transition-duration: 3s;
}

/* ====== HOME ====== */

.ampersand {
  width: 10vW;
}

.left-menu {
  position: fixed;
  left: 0%;
  opacity: 100%;
  width: 20vW;
}

.right-menu {
  position: fixed;
  right: 0%;
  opacity: 100%;
  width: 20vW;
}

.right-menu:hover {
  opacity: 100%;
}

.left-menu:hover {
  opacity: 100%;
}

/* ====== AMPERSAND ====== */

.big-ampersand {
  font-family: 'Nasalization';
  font-size: 400px;
  opacity: 50%;
}

.portrait {
  width: 25vW;
  border-radius: 30px;
}

/* ====== PORTFOLIO ====== */

.portfolio-image {
  border-radius: 10px;
  top: 0;
  width: 40vW;
  height: 23vW;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes portfolio {
  0% {
    background-color: var(--light-blue);
    opacity: 70%;
  }
  25% {
    background-color: var(--bright-red);
  }
  100%{
    opacity: 0%;
  }
}

@keyframes portfolioOut {
  0% {
    opacity: 0%;
    
  }
  100%{
    background-color: var(--light-blue);
    opacity: 70%;
  }
}

.portfolio-image-overlay {
  background-color: var(--light-blue);
  border-radius: 10px;
  height: 100%;
  opacity: 70%;
  width: 40vW;
  -webkit-animation: portfolioOut .5s forwards;
  -moz-animation: portfolioOut .5s forwards;
  -o-animation: portfolioOut .5s forwards;
  animation: portfolioOut .5s forwards;
}

.portfolio-image-overlay:hover {
  -webkit-animation: portfolio 1s forwards;
  -moz-animation: portfolio 1s forwards;
  -o-animation: portfolio 1s forwards;
  animation: portfolio 1s forwards;
}

.portfolio-text {
  width: 40vW
}

.right {
  right: 0%;
}

.left {
  left: 0%;
}

.icon {
  width: 30px;
}

.icon-footer{
  width: 50px;
}

/* ====== EXPERIENCE ====== */

.tab:hover {
  border-right: 2px solid var(--light-blue)
}

.triangle {
  width: 20px;
  height: 30px;
}

.experience-width {
  width: calc();
}

.experience-height {
  min-height: 50vH;
}