/* ====== COLORS ====== */

:root {
	--deep-red: #9e2d21;
  --bright-red: rgb(197, 33, 38);
  --vermillion: rgb(255, 0, 8);
  --light-blue: #92e3f6;
  --white: #FFFFFF;
}

/* === BACKGROUNDS === */

.bg-light-blue {
  background-color: var(--light-blue);
}

.bg-white {
  background-color: var(--white);
}

.bg-bright-red {
  background-color: var(--bright-red);
}

.bg-vermillion {
  background-color: var(--vermillion);
}

/* === COLORS === */

.bright-red {
  color: var(--bright-red)
}

.white {
  color: var(--white);
}

/* === BORDERS === */

.border-radius {
  border-radius: 30px;
}
.red-border {
  border: 1px solid var(--bright-red)
}
/* ====== FONTS ====== */

p {
	font-family: 'futura', sans-serif;
	font-size: 1rem;
	color: var(--bright-red);
	font-style: normal;
	line-height: 1.3;
}

h1 {
	font-family: 'nasalization', sans-serif;
  font-size: 4em;
}

h2 {
	font-family: 'futura', sans-serif;
	font-style: normal;
	font-weight: 800;
	padding: 0;
	margin: 0;
	color: rgb(197, 33, 38);
	font-size: 1.7rem;
	line-height: 1.3;
}

h3 {
	font-family: 'nasalization', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  margin: 0 !important;
  padding: 0 !important;
}

a:link {
  text-decoration: none !important;
}

.sub-title {
  font-size: 2em;
  opacity: 80%;
}


/* === ALIGNMENT === */

.txt-al-right {
  text-align: right;
}

/* ====== SPACING ====== */

body {
  margin: 0px;
  padding: 0px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.z-index {
  z-index: 10;
}

/* === FLEX === */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.just-center {
  justify-content: center;
}

.ac-center {
  align-content: center;
}
.al-center {
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

/* === HORIZONTAL === */

.half {
  width: 50vW;
}

/* === VERTICAL === */

.full-height {
  height: 100vH;
}

.h-one-hundred {
  height: 100%;
}

.full-width {
  width: 100vW;
}

.seventy-five {
  width: 75vW;
}

.text-width {
  width: 50vW;
}

.w-one-hundred {
  width: 100%;
}
/* ====== PADDING ====== */

.side-padding {
  padding: 0vH 2vW;
}

.stnd-padding {
  padding: 10vH 0vW;
}

.text-padding {
  padding: 2vH 1vW;
}

.no-space {
  margin: 0;
  padding: 0;
}

/* ====== PADDING ====== */

.transition-duration {
  transition-property: width;
  transition-duration: 3s;
}

/* ====== HOME ====== */

.ampersand {
  width: 10vW;
}

.left-menu {
  position: absolute;
  left: 0%;
  opacity: 0%;
  width: 20vW;

}

.right-menu {
  position: absolute;
  right: 0%;
  opacity: 0%;
  width: 20vW;
}

.right-menu:hover {
  opacity: 100%;
}

.left-menu:hover {
  opacity: 100%;
}

/* ====== AMPERSAND ====== */

.big-ampersand {
  font-family: 'Nasalization';
  font-size: 400px;
  opacity: 50%;
}

.portrait {
  width: 25vW;
  border-radius: 30px;
}